/* DivTable.com */
.divTable{
	display: table;
	width: 100%;
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableCell, .divTableHead {
	border: 1px solid #999999;
	display: table-cell;
	padding: 3px 10px;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}


/*----------------------------------------*/


.data-table {
	margin-top: 15px;
	
 	color: #333;
    font-family: Helvetica, Arial, sans-serif;
    width: 640px; 
    border-collapse: collapse; 
	border-spacing: 0; 
}

.data-table td, th {
    border: 1px solid transparent;
    height: 30px; 
    transition: all 0.3s; 
	padding: 5px;
}

.data-table td {  
    background: #FAFAFA;
    text-align: center;
}
   
.data-table tr:nth-child(even) td { background: #F1F1F1; }   

.data-table tr:nth-child(odd) td { background: #FEFEFE; }  

.data-table tr td:hover { background: #666; color: #FFF; }  

.data_table__header-weekend{ 
	font-style: italic;
	font-weight: normal;
	background-color: lemonchiffon;
}

.data-table__header-active{  
    background: #DFDFDF;
    font-weight: bold;
}

.data-table_cell-clickable{
	cursor: pointer;
}

/*.data-table_cell{
	background-color: white;
	color: black;
}

*/

