/* DivTable.com */
.divTable{
	display: table;
	width: 100%;
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableCell, .divTableHead {
	border: 1px solid #999999;
	display: table-cell;
	padding: 3px 10px;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}


.data-table{
	border-spacing: 1px;
}

.data-table_header{
	border: solid 1px black;
	background-color: gray;
	color: white;
}

.data-table_cell{
	border: solid 1px grey;
	background-color: white;
	color: black;
}
